@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 5px;
} 

/* Track */
::-webkit-scrollbar-track {
  background: #141C21;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #e7695050;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #86C87E;
}